/*neutrals*/
$neutral-0: rgb(125, 125, 125);
$neutral-1: rgb(175, 175, 175);
$neutral-2: rgb(220, 220, 220);
/*black*/
$black-0: rgb(75, 75, 75);
$black-1: rgb(50, 50, 50);
$black-2: rgb(25, 25, 25);
/*low color*/
$low-0: black;
$low-0: black;
$low-0: black;
/*middle color*/
$middle-0: black;
$middle-1: black;
$middle-2: black;
/*high color*/
$high-0: black;
$high-1: black;
$high-2: black;