/*neutrals*/
$neutral-0: rgb(200, 200, 200);
$neutral-1: rgb(225, 225, 225);
$neutral-2: rgb(250, 250, 250);
/*low color*/
$low-0: black;
$low-0: black;
$low-0: black;
/*middle color*/
$middle-0: black;
$middle-1: black;
$middle-2: black;
/*high color*/
$high-0: black;
$high-1: black;
$high-2: black;