@import "Library";
@include mobile{
  html{scroll-snap-type: y proximity;}
}
//atomic class
.custom-outline{
  outline: solid black 1px;
}
a.custom-outline{
  outline: solid black 1px;
  padding: 0.2rem 1rem 0.3rem 1rem;
  border-radius: 2rem;
}
a.custom-outline:hover{background: black; color: white;}
.border-b-black-1{
  border-bottom: solid #eaeaea 1px;
}
.custom-mob-none{
  @include mobile{display: none;}
}
.custom-snap-align-self{
  scroll-snap-type: y mandatory;
}
.custom-snap-align-center{
  scroll-snap-align: center;
}

//pseudo element
.custom-arrow::after{
  content: "↗";
  display: inline-block;
  width: 1rem; height: 1rem;
  transition: transform 0.25s ease-in-out;
}
.custom-arrow:hover::after{
  transform: translateY(-0.25rem) translateX(0.25rem);
}