.custom-expandable-tag-table{
  display: flex; flex-direction: column;
}
.custom-expandable-tag{
  cursor: pointer;
  border-bottom: solid black 1px;
  transition: height 1s ease-in-out;
  h1{font-size: 2rem; display: inline-block; width: calc(100% - 2rem);}
  h2{font-size: 1rem; display: inline-block;}
  p{animation: lazy-load 1s ease-in-out;}
}