._text-small{
  font-size: 1rem;
}
._text-middle{
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
._text-large{
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}