@import "Library";
.image-article{
  overflow: hidden;
  position: relative;
  height: 45rem; width: 70%;
  @include mobile{
    height: 35rem;
    width: 100%;
  }
}
.image-article-top{
  position: relative;
  width: 50%; height: fit-content;
  padding: 4rem; margin-left: 5rem;
  border: solid black 1px;
  background: rgba(255, 255, 255, 1);
  @include mobile{
    width: 100%; margin: 0;
    padding: 4rem 1rem 4rem 1rem;
  }
}