@import "Library";
.custom-section{
  position: relative;
  width: calc(100% - 20rem); height: fit-content;
  margin: 4rem 10rem 4rem 10rem; padding: 0 0 4rem 0;
  @include mobile{width: calc(100% - 2rem); height: fit-content; @include center-margin(1);}
}